
html {
    scroll-behavior: smooth;
}

/* Card Buku */
.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px); /* Efek melayang saat hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Shadow lebih tebal saat hover */
}

/* Gambar Buku */
.card-img-top {
    object-fit: cover; /* Membuat gambar tidak pecah */
    height: 250px; /* Menentukan tinggi gambar */
}

/* Tombol Pinjam */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    padding: 10px 20px;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

/* Jumbotron */
.jumbotron {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 30px 15px;
}

.jumbotron .display-4 {
    font-weight: bold;
}

.jumbotron .lead {
    font-style: italic;
    color: #6c757d;
}

/* Responsif */
@media (max-width: 767px) {
    .card-img-top {
        height: auto; /* Menyesuaikan gambar di perangkat kecil */
    }
    .card-body {
        padding: 1rem;
    }
}
